*{
    background-color: black;
    font-family: Verdana;
    text-align: center;
    color:white;
}
h1{
    font-size: 50px;
}
h2{
    font-size:41px;
}
p{
    font-size: 21px;
    color:gray;
}
a{
    color:aquamarine;
    font-size: 16px;
}
p, footer{
    text-align: right;
}